@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>


<div class="container">
    @if (Model.Error !=null)
    {
        <h1 class="text-danger">@Model.Error</h1>
    }else if (!string.IsNullOrWhiteSpace(Model.Title))
    {
        <p>Search results by title : @Model.Title (@Model.TotalResults)</p>

        <div class="row myList">
            <partial name="_MovieListPartial" model="@Model.Movies"></partial>
        </div>
        //nav pagination
       @*  int begin = Model.CurrentPage;
        int end = Model.CurrentPage + 5;
        int totalPages=Model.TotalPages;
        int restriction_pages;
        if (Model.TotalPages<=11)
        {
            restriction_pages = Model.TotalPages;
            begin = 1;
        }
        else
        {
            restriction_pages = 11;
            if (Model.CurrentPage > 6)
            {
                if (Model.CurrentPage+5>totalPages)
                {
                    restriction_pages = totalPages;
                    begin = totalPages - 10;
                }
                else
                {
                    restriction_pages = Model.CurrentPage+5;
                    begin = Model.CurrentPage - 5;
                }
                 
            }
            else
            {
                restriction_pages = 11;
                begin = 1;
            }
        }
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                @if (Model.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-action="Search"
                           asp-controller="Home"
                           asp-route-page="@(Model.CurrentPage-1)"
                           asp-route-title="@Model.Title">Previous</a>
                    </li>
                }
                @for (int i = begin; i <= restriction_pages; i++)
                {
                    <li class="page-item @(i==Model.CurrentPage ? "active" : "")">
                        <a class="page-link"
                        asp-action="Search" 
                        asp-controller="Home" 
                        asp-route-page="@i"
                        asp-route-title="@Model.Title"
                    >@i</a></li>
                }
                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-action="Search"
                           asp-controller="Home"
                           asp-route-page="@(Model.CurrentPage+1)"
                           asp-route-title="@Model.Title">Next</a>
                    </li>
                }
            </ul>
        </nav> *@
    }
    else
    {
        <p>Not results</p>
    }
</div>
@* pagination button *@
@* <button id="buttonNext" class="btn btn-primary">Next</button> *@
<partial name="_ModalWindowPartial"></partial>

@section Funcs{
    <script>
        //scroll pagination
        initPagination(@Model.CurrentPage, @Model.TotalPages, '@Url.ActionLink("SearchResult","Home",new {title = Model.Title})');
    </script>
}